<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemDOMapper">

    <resultMap id="BaseResultMap" type="org.jsecurity.entity.SystemDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="isEnable" jdbcType="INTEGER" property="isenable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, code, name, isEnable, create_time, update_time
    </sql>

    <select id="queryPageCount" parameterType="hashmap" resultType="java.lang.Integer">
        select
        count(*)
        from system
        where 1=1
        <if test="criteriaDO.code != null">
            and code like CONCAT('%','${criteriaDO.code}','%' )
        </if>
        <if test="criteriaDO.name != null">
            and name like CONCAT('%','${criteriaDO.name}','%' )
        </if>
    </select>


    <select id="queryPageList" parameterType="hashmap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system
        where 1=1
        <if test="criteriaDO.code != null">
            and code like CONCAT('%','${criteriaDO.code}','%' )
        </if>
        <if test="criteriaDO.name != null">
            and name like CONCAT('%','${criteriaDO.name}','%' )
        </if>
        limit #{startRow},#{pageSize}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from system
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <insert id="insert" parameterType="org.jsecurity.entity.SystemDO">
        insert into system (id, code, name,
        isEnable, create_time, update_time
        )
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{isenable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.jsecurity.entity.SystemDO">
        update system
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isenable != null">
                isEnable = #{isenable,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>